<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252389118012-v9dgj9km2866nkptfes42o7ssslqplk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252389118012-v9dgj9km2866nkptfes42o7ssslqplk9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>252389118012-mi3faeqr4ib8r59fhv56gqiul6krg3tj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCs_zcQ-oJU8BAwXViIZ94e1-x-ilcWgmU</string>
	<key>GCM_SENDER_ID</key>
	<string>252389118012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marhaba.shopapp</string>
	<key>PROJECT_ID</key>
	<string>marhabatcinventory-8a50f</string>
	<key>STORAGE_BUCKET</key>
	<string>marhabatcinventory-8a50f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252389118012:ios:7cb1881f81845d9e</string>
	<key>DATABASE_URL</key>
	<string>https://marhabatcinventory-8a50f.firebaseio.com</string>
</dict>
</plist>